{{#if shouldAnimate}}

  {{#liquid-if isOpen use='crossFade'}}
    <div class="cp-Panel-body-inner">
      {{yield}}
    </div>
  {{/liquid-if}}

{{else if hidePanel}}
  <div class="cp-Panel-body-inner {{if isOpen 'show' 'hide'}}">
      {{yield}}
    </div>
{{else}}

  {{#if isOpen}}
    <div class="cp-Panel-body-inner">
      {{yield}}
    </div>
  {{/if}}

{{/if}}
